@page
@model BalataTest.Pages.Premiums.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Premium.Description" class="control-label"></label>
                <textarea asp-for="Premium.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Premium.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Premium.StartDate" class="control-label"></label>
                <input asp-for="Premium.StartDate" type="date" class="form-control" />
                <span asp-validation-for="Premium.StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Premium.EndDate" class="control-label"></label>
                <input asp-for="Premium.EndDate" type="date" class="form-control" />
                <span asp-validation-for="Premium.EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Premium.Price" class="control-label"></label>
                <input asp-for="Premium.Price" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Premium.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Premium.Duration" class="control-label"></label>
                <input asp-for="Premium.Duration" type="number" step="1" class="form-control" />
                <span asp-validation-for="Premium.Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Premium.StudentID" class="control-label"></label>
                <select asp-for="Premium.StudentID" asp-items="Model.StudentList" class="form-control">
                    <option value="">-- selecione um estudante --</option>
                </select>
                <span asp-validation-for="Premium.StudentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Premium.Value" class="control-label"></label>
                <input asp-for="Premium.Value" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Premium.Value" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-link">Back to List</a>
            </div>
        </form>
    </div>
</div>